body {
    background-color: #000000;
    color: #F6BC48;
    text-align: center;
}

.bg-dark {
    background-color: #000000;
    float: left;
}

#name {
    background-color: #000000;
    color: #F6BC48;
    position: relative;
    left: 100px;
    bottom: 32px;

}

.jumbrotron, .jumbotron-fluid {
    background-color: #000000;
    color: #F6BC48;
    text-align: left;
    padding: 0px;

}

#title {
    font-size: 96px;
    font-family:  'Bungee Shade', cursive;
}

.lead {
    font-size: 32px;
}

.container {
    text-align: left;
    font-size: 24px;
    font-family: 'Bungee', cursive;

}

#user-guesses {
    font-family:  'Bungee Shade', cursive;

}
.col-md-3 {
    float: left;
}
.col-md-9 {
    clear: both;
}
#fortune-ball {
    width: 500px;
    height: 500px;
    position: relative;
    bottom:200px;
}

@media screen and (max-width: 1200px) {
    #fortune-ball {
        bottom: 0px;
    }
}