body {
    background-color: #000000;
    color: #F6BC48;
    text-align: center;
}
.jumbrotron, .jumbotron-fluid {
    background-color: #000000;
    color: #F6BC48;
    text-align: left;
}

#title {
    font-size: 96px;
    font-family:  'Bungee Shade', cursive;
}

.lead {
    font-size: 32px;
}

.container {
    text-align: left;
    font-size: 24px;
    font-family: 'Bungee', cursive;

}

#user-guesses {
    font-family:  'Bungee Shade', cursive;

}